.btn-clear {
  height: 80px;
  font-size: 1.6em;
  display: flex;
  flex: 1;
  background-color: #ac0246;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 50px;
}

.btn-clear:hover {
  background-color: #ebb000;
}